@import './base/common';
@import './base/reset';



@import './components/backdrop-modal';
@import './components/contacts';
@import './components/container';
@import './components/logo';
@import './components/mobile-menu';

@import './components/section-title';
@import './components/visually-hidden';

@import './layout/benefits-section';
@import './layout/clients-section';
@import './layout/footer';
@import './layout/hero-portfolio';
@import './layout/hero-studio';
@import './layout/page-header';
@import './layout/team-section';
@import './layout/work-section';

@import './utils/variables';

