.benefits__list {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
        }
    
        @media screen and (min-width: 1200px) {
            display: flex;
        }
}

.benefits__item {
    max-width: 450px;
    
        @media screen and (max-width: 1099px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    
        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 30px) / 2);
        }
    
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            &:not(:nth-last-child(2n + 1)) {
                margin-right: 30px;
            }
        }
    
        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 90px) / 4);
    
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
}


.benefits-icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--accent-bg-color);
    border-radius: 4px;
    margin-bottom: 30px;
}


.benefits__text {
    line-height: 1.71;
    color: var(--secondary-text-color);
}


