.clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color var(--transition-time) var(--transition);

    &:hover,
    &:focus {
            border-color: var(--accent-color);          
            }

}

.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-list__icon {
    fill: #AFB1B8;
    transition: fill var(--transition-time) var(--transition);

    .clients-list__link:hover &,
    .clients-list__link:focus & {
            fill: var(--accent-color);
    
        }

}



