.footer {
    background-color: var(--secondary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
   

}


.map {
    font-weight: 400;
    line-height: 1.71;
    color: var(--light-text-color);
    text-decoration: none;

}



.address {
    font-style: normal;
    margin-top: 20px;
}

.footer-wrapper {
@media screen and (max-width: 767px) {
        text-align: center;
        


    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
        align-items: baseline;
      
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        text-align: left;
        
    }

}


.wrapper-address {
    @media screen and (max-width: 767px) {
            width: 100%;
        }

}

.wrapper-social-links{
    @media screen and (max-width: 767px) {
            width: 100%;
            margin-top: 60px;
            margin-bottom: 60px;
        }
}


.footer-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.footer-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--light-text-color);
    transition: fill var(--transition-time) var(--transition), background-color var(--transition-time) var(--transition);

    &:hover,
    &:focus {
            background-color: var(--accent-color);

            & .footer-list__social-icon,
            & .footer-list__social-icon {
                    fill: var(--light-text-color);
                }
        }

}


.footer-form {
   
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-top: 60px;
            display: flex;
                flex-direction: column;
                align-items: center;
            
    
    
        }

}



.sign-form-input {
    width: 358px;
    height: 50px;
    background-color: var(--secondary-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;
    color: var(--light-text-color);

    @media screen and (max-width: 480px) {
            width: 100%;
        }
    
        @media screen and (min-width: 1200px) {
            margin-right: 12px;
            margin-bottom: 0px;
            max-width: 358px;
        }

    &::placeholder {
            font-family: var(--primary-font);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
    
        }

}

.sign-form-btn {
    // display: inline-flex;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    color: var(--light-text-color);
    background-color: var(--accent-color);
    // border-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    // display: flex;
    // margin-top: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    margin-top: 20px;

    @media screen and (min-width: 768px) and (max-width: 1199px)
     {
       
        margin-top: 20px;
       
    
    
    
        }

            @media screen and (min-width: 1200px) {
                    display: inline-flex;
                    margin-top: 0;
                }
            
            
}

.sign-form-button__icon {
    fill: #FFFFFF;
    margin-left: 10px;
    align-items: center;
}

.wrapper-sign-button {
    margin-top: 20px ;
    
}

