.team {
    background-color: var(--accent-bg-color);

}

@media screen and (min-width: 768px) {
.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
}
.team-list__item {
    background: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    // flex-basis: calc((100% - 90px) / 4);

    @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 30px) / 2);
        }
    
        @media screen and (min-width: 1200px) {
            flex-basis: calc((100% - 90px) / 5);
            
        }
    
        @media screen and (max-width: 767px) {
            flex-basis: 450px;
    
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 30px;
            }
    
            &:not(:nth-last-child(2n-1)) {
                margin-right: 30px;
            }
        }
    
        @media screen and (min-width: 1200px) {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }

}

.team-list__image {
    max-width: 100%;
    height: auto;
}

.team-description {
    padding-top: 30px;
        padding-bottom: 24px;
    
        @media screen and (min-width: 1200px) {
            padding-bottom: 30px;
        }
}



.team-description__text {
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-text-color);

    text-align: center;
    margin-bottom: 16px;

}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 0;
    transition: background-color var(--transition-time) var(--transition);

    &:hover,
    &:focus {
            background-color: var(--accent-color);
        }
}


.social-list__icon {
    fill: #AFB1B8;
    transition: fill var(--transition-time) var(--transition);

    .social-list__link:hover &,
    .social-list__link:focus & {
            fill: var(--light-text-color);
        }

}