.contacts__link {
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    list-style: none;
    text-decoration: none;
    padding-top: 31px;
    padding-bottom: 31px;
    align-items: center;
    flex-direction: row-reverse;
    transition: color var(--transition-time) var(--transition);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact-link__icon {
    fill: currentColor;
    margin-right: 10px;
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    font-weight: 400;
}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
}