.logo {
    font-family: var(--accent-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.18;
    text-decoration: none;
    color: inherit;
    margin-right: 93px;

}

.footer .logo {
    display: block;
    color: var(--light-text-color);
    margin-bottom: 20px;

}