:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --light-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --accent-bg-color: #F5F4FA;
    --primary-font: 'Roboto', Arial, Helvetica, sans-serif;
    --accent-font: 'Raleway', sans-serif;
    --transition-time: 250ms;
    --transition: cubic-bezier(0.4, 0, 0.2, 1)
}